<section>
    <div class="container-fluid">
        <center>
            <div class="container-fluid align-items-center  ">
                <h3 class="mt-5 mb-3">ADD NEW SHOP</h3>
                <form action="/admin/add-shop" method="post" enctype="multipart/form-data">
                    <div class="container-fluid">
                    <div class="mb-3 mt-4 ">
                        <input type="text" class="form-control shadow-lg" name="shopName" placeholder="enter shop name"  style="width:30em;" required>
                    </div>
                    <div class="mb-3 mt-4 ">
                        <input type="text" class="form-control shadow-lg" name="address" placeholder="enter shop address"  style="width:30em;height: 4em;" required>
                    </div class="mb-3 mt-4 ">
                    <div class="mb-3 mt-4 ">
                        <input type="text" class="form-control shadow-lg" name="center" placeholder="enter shop block panchayath"  style="width:30em;" required>
                    </div>
                    <div class="mb-3 mt-4 ">
                        <input type="text" class="form-control shadow-lg" name="Email" placeholder="enter shop email address"  style="width:30em;" required>
                    </div >
                    <div class="mb-3 mt-4 ">
                        <input type="password" class="form-control shadow-lg" name="Password" placeholder="enter password"  style="width:30em;" required>
                    </div>
                    <button type="submit" class="btn btn-primary shadow-lg">Submit</button>
                    </div>
                </form>
            </div>
        </center>
    </div>
</section>