<section>
    <style>
    .card-title {
        font-weight: 300;
    }
    .btn {
        font-size: 14px;
        margin-top: 20px;
    }
    .login-form {
        width: 400px;
        margin: 40px;
    }
</style>
<div class="global-container">
    <div class="card login-form shadow mt-5 pt-3">
        <div class="card-body">
            <h3 class="card-title text-center">sign in</h3>
            <div class="card-text">
                <form class="" action="/admin/signup" method="POST">
                    <div class="">
                        <label for="">Email address</label>
                        <input type="email" name="Email" class="form-control">
                    </div>
                    <div class="">
                        <label for="">Password</label>
                        <input type="password" name="Password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Sign up</button>

                </form>

            </div>
        </div>
    </div>
</div>
</section>