<header class="  fixed-header" style="height: 9.5rem;width: 100%;">
    <div class="row ">
        <!-- Topbar Start -->
        <div class="container-fluid bg-primary text-white shadow-lg p-3 mb-5 rounded ">
            <div class="row  py-2 px-xl-5">
                <div class="col-lg-6  ">
                    <div class="d-inline-flex align-items-center ml-3">
                        {{!-- <a class=" text-white " href="">FAQs</a> --}}
                        {{!-- <span class="text-muted px-2 ">|</span> --}}
                        {{!-- <a class="text-white" href="">Help</a> --}}
                        {{!-- <span class="text-muted px-2">|</span> --}}
                        {{!-- <a class="text-white" href="">Support</a> --}}
                    </div>
                </div>
                <div class="col-lg-6 text-center text-lg-right">

                </div>
            </div>
            <div class="row align-items-center py-3 px-xl-5">
                <div class="col-lg-3 col-3 d-none d-lg-block">
                    <a href="" class="text-decoration:none  text-white">

                        <h1 class="m-0  font-weight-semi-bold"><span
                                class="text-white font-weight-bold border px-3 mr-1 shadow rounded">G</span>Shop
                        </h1>


                    </a>
                </div>
                {{#if user}}

                <div class="col-lg-6 col-6 text-left d-none d-lg-block ">

                    <form action="/search" method="post">
                        <div class="input-group  rounded">
                            <a href="/" class="btn btn-primary  shadow rounded">home</a>
                            <a href="">..</a>
                            <input type="text" name="name" class="form-control rounded" placeholder="Search for products">
                            <a href="">..</a>

                            <div class="input-group-append">
                                <span class=" bg-transparent ">
                                    <button class="btn btn-primary shadow rounded text-white my-2 my-sm-0"
                                        type="submit"> <i class="fas fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 col-6  text-right  float-right ml-auto">
                    <a class="text-dark  btn btn-primary shadow  d-lg-none" href="/">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </a>
                    <a href="/cart" class="btn btn-primary shadow-lg text-dark">
                        {{!-- <i class='fab fa-bitbucket' style='font-size:24px'> </i> --}}
                        <i class="fa fa-briefcase" aria-hidden="true"></i>

                        <span class="badge-sm " id="cart-Count">{{cartCount}}
                        </span>
                    </a>

                    <a class="text-dark  btn btn-primary shadow" href="">
                        {{!-- <i class="fab fa-twitter" style='font-size:24px'></i> --}}
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>

                    </a>

                    <a href="/profile" class="text-dark btn btn-primary shadow">
                        {{!-- <i class="fas fa-user-alt" style='font-size:24px'> --}}
                            <i class="fa fa-user" aria-hidden="true"></i>
                            {{/if}}
                        </i></a>
                </div>
            </div>
        </div>

    </div>

</header>




<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>