<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-cneter">request for products</h2>
                <form action="/shop/request-product" method="POST" enctype="multipart/form-data">
                    <label for="">Name</label>
                    <input type="text" name="Name" class="form-control">
                    <label for="">Category</label>
                    <select id="" name="Category" class="form-control">
                        <option value="grocerry">grocerry</option>
                        <option value=" vegitable"> vegitable</option>
                        <option value="fish">fish</option>
                        <option value="fruits">fruits</option>
                        <option value="meet">meet</option>
                        <option value="cutted vegitable">cutted vegitable</option>
                        <option value="non cutted vegitable">non cutted vegitable</option>
                    </select>
                    <label for="">Price</label>
                    <input type="number" name="Price" class="form-control">

                    <label for="">stock</label>
                    <input type="number" name="stock" class="form-control">


                    <label for="">Description</label>
                    <input type="text" name="Description" class="form-control">


                    <label for="">Image</label>
                    <input type="file" name="Image" class="form-control">

                    <button type="submit" class="btn btn-success mt-4">Submit</button>
                    <a href="/shop" class="btn btn-danger mt-4 ">Home</a>
                </form>
            </div>
        </div>
    </div>
</section>